#right {
    position: absolute;
    left: 300px;
    top: 0px;
}

#left .read {
    display: none;
}

#left {
    width: 450px;
}

.feed-title {
    font-size: 1.3em;
    font-weight: bold;
}

.post-feed-title {
    display: none;
    font-weight: bold;
}

.post {
    padding-bottom: 5px;
}