.feeds
  - current_user.feeds.each do |feed|
    .feed{'data-feed-title' => feed.title}
      .feed-title
        - feed.title
        - link_to '-', feed, :method => 'delete'
      = render :partial => 'posts/left_post', :collection => feed.posts