#header
  = link_to 'Home', posts_path
  |
  = link_to 'Refresh', {:controller => :feeds, :action => :refresh}, :method => :post
  |
  = link_to 'Manage Feeds', new_feed_path, :id => 'add-feed'
  |
  = render :partial => 'posts/options'